.container1 {
    display: flex;
    align-items: center;
  }
  
  img {
    margin-right: 10px;
  }

.nav{
    font-size:35px;
    font-family: "Lora";
    word-spacing: 150px;
    padding-left: 90px;
    color:white;
}

.container2{
    position: relative;
    text-align: center;
    opacity:0.6;
    color:white;
}

.maintxt {
    position: absolute;
    top: 8px;
    right: 20px;
    color:#EBB7B6;
    font-family: "Lora";
    font-size: 70px;
    text-shadow: #7B3433 7px 4px ;
  }

.subtxt {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size:25px;
    color:white;
    text-align:left;
    width: 620px;
    word-break: break-word;
    white-space: normal;
  }

