.container1 {
    display: flex;
    align-items: center;
  }
  
  img {
    margin-right: 10px;
  }

.nav{
    font-size:35px;
    font-family: "Lora";
    word-spacing: 150px;
    padding-left: 90px;
    color:white;
}

.container2{
    position: relative;
    text-align: center;
    opacity:0.6;
    color:white;
}

.maintxt {
    position: absolute;
    top: 8px;
    right: 20px;
    color:#EBB7B6;
    font-family: "Lora";
    font-size: 70px;
    text-shadow: #7B3433 7px 4px ;
    font-weight:500;
}

.subtxt {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size:25px;
    color:white;
    text-align:left;
    width: 620px;
    word-break: break-word;
    white-space: normal;
}

  a {
    text-decoration: none; 
    color: white;
}

.box {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 220px;
    position: relative;
    width: 1500px;
}

.box strong {
    text-align: center;
    font-size: 80px;
    font-family: "Lora";
    font-size: 30px;
}
  
.igTxt{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

  /* end of index.html */

.f-title{
    font-size: 50px;
    font-family: "Lora";
    color: #EBB7B6;
    text-align: center;
}

video {
  display: block;
  margin: 0 auto;
  width: 800px;
  height:450px;
}

.para-main{
  font-family: "Lora";
  font-size: 20px;
  color:white;
  width: 950px;
  word-break: break-word;
  white-space: normal;
  position: relative;
  margin-left:300px;
}

.f-subtitle{
  font-family:"Lora";
  font-size: 35px;
  text-align: center;
  color: #EBB7B6;
}

.column {
  float: right;
  padding-right: 150px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.box2{
  align-items: center;
  background-color:#C79252;
  color: white;
  display: flex;
  justify-content: center;
  height: 400px;
  position: relative;
  width: 1400px;
  opacity:0.9;
  margin-left:50px;
}

.para2{
  font-family: "Lora";
  font-size: 20px;
  color:white;
  width: 1500px;
  word-break: break-word;
  white-space: normal;
  position: relative;
  margin-left:50px;
  margin-right:50px;
}

.center{
  text-align:center;
}

.box3{
  align-items: center;
  background-color:#C79252;
  color: white;
  display: flex;
  justify-content: center;
  height: 300px;
  position: relative;
  width: 1400px;
  opacity:0.9;
  margin-left:50px;
}

.box4{
  align-items: center;
  background-color:#C79252;
  color: white;
  display: flex;
  justify-content: center;
  height: 200px;
  position: relative;
  width: 1400px;
  opacity:0.9;
  margin-left:50px;
}

.box5{
  align-items: center;
  background-color:#C79252;
  color: white;
  display: flex;
  justify-content: center;
  height: 250px;
  position: relative;
  width: 1400px;
  opacity:0.9;
  margin-left:50px;
}

.box6{
  align-items: center;
  background-color:#C79252;
  color: white;
  display: flex;
  justify-content: center;
  height: 450px;
  position: relative;
  width: 1400px;
  opacity:0.9;
  margin-left:50px;
}

.box7{
  align-items: center;
  background-color:#C79252;
  color: white;
  display: flex;
  justify-content: center;
  height: 500px;
  position: relative;
  width: 1400px;
  opacity:0.9;
  margin-left:50px;
}

.career-movie{
  font-size: 40px;
  font-family: "Lora";
  color: #EBB7B6;
  font-weight: 500;
  text-align: center;
}

.para3{
  font-family: "Lora";
  font-size: 20px;
  color:white;
  width: 1400px;
  word-break: break-word;
  white-space: normal;
  position: relative;
  margin-left:50px;
  margin-right:50px;
  text-align:center;
}

.career-starred{
  font-size: 35px;
  font-family: "Lora";
  color: #EBB7B6;
  font-weight: 500;
  text-align: center;
}


  /* start of slideshow */
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: 500px;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right:500px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.career-slides{
  font-family: "Lora";
  font-size: 25px;
  text-align:left;
  color:white;
}

html {
  scroll-behavior: smooth;
}

.return-up{
  font-family:"Lora";
  font-size: 12px;
  color:white;
}

.Quiz-btn{
  position: absolute;
  top:75%;
  left:50%;
  transform:translate(-50%,-50%);
}

/* styles the quiz button */
.Quiz-btn button{
  font-size:25px;
  font-weight:500;
  border-radius:50px;
  outline:none;
  border: none;
  color: white;
  background: #215141;
  padding:15px 30px;
  cursor:pointer;
}

.info-box{
  display: none;
  width:540px;
  background: #215141;
  color: white;
  border-radius: 50px;
}

.info-box.info-title{
  height: 60px;
  width: 100%;
  border-bottom:1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 35px;
  font-size: 20px;
  font-weight: 500;
}

.info-box.info-list{
  padding:15px 35px;
}

.info-box.info-list.info{
  margin: 5px 0;
  font-size:17px;
}

.info-box.buttons{
  height: 60px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightgrey;
}

.info-box.buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  background: #C79252;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.info-box.info-list.info span{
  font-weight: 600;
  color: white;
  font-family: "Lora";
}

.buttons button.restart{
  color: white;
  background:#C79252;
}

.buttons button.quit{
  color: white;
  background: #C79252;
}